<div class="container">
  <div class="row">
    <div class="col-12 jumbotron">
      <h2>Your Notes</h2>
      <button class="custom-btn-icon" (click)="editNote(notes.length)">New Note <mat-icon aria-hidden="false" aria-label="">add_circle</mat-icon></button>
    </div>
    <div class="col-12 jumbotron">
      <button class="custom-btn-icon" (click)="pullData()">TEST</button>
    </div>

      <div *ngFor="let test of tests">
        <h1>{{test}}</h1>
      </div>


  </div>
  <div class="row">
    <div class="col-sm-12">
      <div cdkDropList class="note-container-parent" (cdkDropListDropped)="drop($event)">
        <div class="row note-container custom-outline" *ngFor="let note of notes;let indexOfelement=index;" cdkDrag>
          <div class="col-sm-12">
            <div class="custom-placeholder custom-outline" *cdkDragPlaceholder></div>
          </div>
          <div class="col-12 col-sm-12 col-md-8 col-lg-9 note-content">
            {{note}}
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-3 note-icons">
            <ng-template [ngIf]="warning!==indexOfelement">
              <button mat-icon-button (click)="editNote(indexOfelement)"><mat-icon aria-hidden="false" aria-label="">edit</mat-icon></button>
              <button mat-icon-button (click)="confirmDelete(indexOfelement)"><mat-icon aria-hidden="false" aria-label="">delete</mat-icon></button>
            </ng-template >
            <ng-template  [ngIf]="warning===indexOfelement">
              <button mat-button (click)="dismissDelete()">Never Mind <mat-icon aria-hidden="false" aria-label="">undo</mat-icon></button>
              <button mat-button (click)="deleteNote(indexOfelement)">Confirm Delete <mat-icon aria-hidden="false" aria-label="">delete_forever</mat-icon></button>
            </ng-template>            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
