<mat-toolbar color="primary" class="navbar">
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
  <span>Note Taker</span>
  <span class="spacer"></span>
  <div *ngIf="!authService.userEmail">
    <button class="custom-btn-white" aria-label="Login or Sign up for Note Taker" (click)="loginPopupService.toggleLogin()">
      Login / Sign Up
    </button>
  </div>
  <div *ngIf="authService.userEmail">
    <span class="user-email">Welcome, {{authService.userEmail}}!</span>
    <button class="custom-btn-white" aria-label="Log Out of Note Taker" (click)="authService.logout()">
      Log Out
    </button>
  </div>
</mat-toolbar>
