<div mat-dialog-content>
  <mat-form-field class="editor">
    <mat-label>Write a Note</mat-label>
    <textarea  matInput [(ngModel)]="data.note" [cdkTextareaAutosize]>{{data.note}}</textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions class="actions">
  <ng-template  [ngIf]="!warning">
    <button class="custom-btn-icon" [mat-dialog-close]="{note:data.note,delete:false}" cdkFocusInitial>Save & Close <mat-icon aria-hidden="false" aria-label="">save</mat-icon></button>
    <button class="custom-btn-icon" [mat-dialog-close]="{note:undefined,delete:false}">Discard Changes <mat-icon aria-hidden="false" aria-label="">undo</mat-icon></button>
    <button class="custom-btn-icon" (click)="onDelete()">Delete <mat-icon aria-hidden="false" aria-label="">delete</mat-icon></button>
  </ng-template>
  <ng-template  [ngIf]="warning">
    <button class="custom-btn-icon" (click)="warning=!warning">Never Mind <mat-icon aria-hidden="false" aria-label="">undo</mat-icon></button>
    <button class="custom-btn-icon" [mat-dialog-close]="{note:undefined,delete:true}">Confirm Delete <mat-icon aria-hidden="false" aria-label="">delete_forever</mat-icon></button>
  </ng-template> 
</div>
