<div class="login-div animate__animated" [ngClass]="{'animate__slideInLeft' : loginPopupService.showLogin, 'animate__slideOutLeft' : !loginPopupService.showLogin}">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 text-center">
        <button mat-button (click)="loginPopupService.toggleLogin()" class="close-btn"><mat-icon aria-hidden="false" aria-label="">close</mat-icon></button>
        <h2 class="mat-display-2 text-center">Login to save your notes...</h2>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <mat-card class="login-card">
          <mat-tab-group mat-stretch-tabs dynamicHeight mat-align-tabs="start">
            <mat-tab label="Login">
              <form class="login-tab">
                <mat-form-field class="full-width">
                  <mat-label>E-Mail</mat-label>
                  <input matInput #userEmail placeholder="Ex. hello@mail.com" type="email" required>
                </mat-form-field>
                <mat-form-field class="full-width">
                  <mat-label>Password</mat-label>
                  <input matInput #userPassword placeholder="Ex. $uper$ecret123!" type="password" required>
                </mat-form-field>
              </form>
              <button mat-flat-button color="primary" (click)="authService.login(userEmail.value, userPassword.value)">Login</button>
            </mat-tab>
            <mat-tab label="Create Account">
              <form class="login-tab">
                <mat-form-field class="full-width">
                  <mat-label>E-Mail</mat-label>
                  <input matInput #newUserEmail placeholder="Ex. hello@mail.com" required>
                </mat-form-field>
                <mat-form-field class="full-width">
                  <mat-label>Password</mat-label>
                  <input matInput #newUserPassword placeholder="Ex. $uper$ecret123!" type="password" required>
                </mat-form-field>
                <mat-form-field class="full-width">
                  <mat-label>Verify Password</mat-label>
                  <input matInput #newUserPassword2 placeholder="Ex. $uper$ecret123!" type="password" required>
                </mat-form-field>
              </form>
              <button mat-flat-button color="primary" (click)="authService.createUser(newUserEmail.value, newUserPassword.value)">Create Account</button>
            </mat-tab>
          </mat-tab-group>
        </mat-card>
      </div>
    </div>
  </div>
</div>
