@import '~@angular/material/theming';

.spacer {
  flex: 1 1 auto;
}

.nav-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.nav-is-mobile .nav-toolbar {
  position: fixed;
}

.nav-toolbar {
  @include mat-elevation-transition;
  @include mat-elevation(8);
}

h1.nav-app-name {
  margin-left: 8px;
}

.nav-sidenav-container {
  flex: 1;
  z-index: -999;
}

.nav-is-mobile .nav-sidenav-container {
  flex: 1 0 auto;
}

.login-btns button {
  margin-left: 15px;
}